version: "3"

services:
  web:
    image: nginx:latest
    container_name: web
    depends_on:
      - front
      - app
      - db
    restart: always
    ports:
      - "80:80"
    #      - "443:443"
    volumes:
      - ./volumes/nginx/nginx.conf:/etc/nginx/nginx.conf

  front:
    container_name: front
    build:
      # context: ./front
      context: ./economicus-fe
      dockerfile: Dockerfile
    restart: always
    depends_on:
      - app
    volumes:
      # - "./front:/app"
      - "./economicus-fe:/app"
      - "/app/node_modules"
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development

  main:
    build:
      context: ./main
      dockerfile: Dockerfile
    container_name: main
    restart: always
    env_file: .env
    links:
      - "db:mysqldb"
    depends_on:
      - quant
      - db
    ports:
      - "8080:8080"
    command: sh -c scripts/run.sh

  quant:
    build:
      context: ./quant
      dockerfile: Dockerfile
    container_name: quant
    restart: always
    ports:
      - "${GRPC_INSECURE_PORT}:${GRPC_INSECURE_PORT}"
    command: python3 main.py

  db:
    platform: linux/x86_64
    image: mysql:5.7
    container_name: database
    user: "501:20"
    restart: always
    env_file: .env.mysql
    volumes:
      - ./volumes/mysql:/var/lib/mysql
      - ./volumes/seed:/var/lib/mysql-files
    command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci --init-connect='SET NAMES UTF8;' --innodb-flush-log-at-trx-commit=0
